<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB70F2571C22A2CA0063A152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB70F2701C22A2CA0063A152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB70F27B1C22A2CA0063A152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
